BOT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
APPLICATION_ID=xxxxxxxxxxxxxxxxxxx
PUBLIC_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
COMMAND=honusan
NAME=HONUSAN
AWS_ACCESS_KEY_ID=Axxxxxxxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_REGION=us-east-1
POLLY_LANG=ja-JP
POLLY_TYPE=neural
POLLY_VOICE=Takumi